.formControl.error input,
.formControl.error textarea {
    border: 2px solid red
}

.formControl.error span {
color: red;
}

.form-summary-error{
    border: 1p solid red;
    padding: 5px;
    color: red;
}